<header class='shared-header'>
<div class='header-left'>
<%= link_to 'TenkenApp', '/', class:'header-link' %>
</div>
<div class='header-right'>
<ul class='nav'>
<li><%= link_to '山田太郎', '#', class:'header-link' %></li>
<li><%= link_to 'ログアウト', '#', class:'header-link'%></li>
</ul>
</div>
</header>