/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 .main {
  width: 100vw;
  min-height: calc(100vh - 150px);
}

a {
  text-decoration: none !important;
}

.thumbnail {
  width: 200px;
}
.button-container {
  min-height: 35vh;
}

@media (max-width: 1000px){
  .thumbnail {
    width: 150px;
  }
  .button-container {
    min-height: 10vh;
  }
}
@media (max-width: 500px){
  .thumbnail {
    display: none;
  } 
}



 @import "bootstrap";
 
